USE [master]
GO
/****** Object:  Database [CRYPTOGRAPHY]    Script Date: 02/04/2024 22:41:50 ******/
CREATE DATABASE [CRYPTOGRAPHY]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRYPTOGRAPHY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRYPTOGRAPHY.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRYPTOGRAPHY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CRYPTOGRAPHY_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRYPTOGRAPHY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRYPTOGRAPHY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/04/2024 22:41:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[Salt] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Users__1788CCACE8D35D5E] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Salt]) VALUES (1, N'admin', N'admin@gmail.com', 0x650014ADA0D4399B6F7C4A4FB408102D053FA9AA07D9A0CFF5796DA209FAFA74C0E096118B44C98E129ADA895D4A2398B20ABB6D31CDCD3F893676DD692C4D9B, N'TVnodyVDHDaUtrZiOFTHDLSQQnC\YUBqMbBT]LjhZusqbCJHqP')
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Salt]) VALUES (2, N'test', N'test@gmail.com', 0xB2674A142E7898832829715270883C9BDE2E7E95E9A78E1D1EF33FBF5BA1DB55EF56771C0D37D36DB6102D7AC57499794DA67FA7EC368753A54696109386FF16, N'\[kneUUrfqBJjSTqWdu[QTLTLuYQPIMYKbWSoTSarxPwK`[etg')
GO
USE [master]
GO
